
#new-player-form {
    display: flex;
    flex-direction: column;
    width: 20em;
    margin-left: 2em;

}

label {
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #d9a802;
}

input {
    height: 2.5em;
    border-radius: 0.5em;
}


button {
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.5em;

}

#form-h3 {
    color: #134611;
    font-style: italic;
    font-size: 2rem;
    width: 30rem;
}