.all-players-container {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;

}

.playerClass {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    border-radius: 10%;
    background-color: #A2AD59;
    border-color: black;
    margin: 2em;
    font-style: italic;

}

#profile-form-h3 {
    color: #134611;
    font-style: italic;
    font-size: 2rem;
    width: 30rem;
    /* text-align: center; */
}

.profile_page_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-left: 20%;
    width: 50%;
}